@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat&family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;  
	width: 100%;
}

body {
	overflow-x: hidden;
	background-color: #F6DDCC;
	color: #000a16;
	font-size: 2.4vh;
	line-height: 3.6vh;
	font-family: 'PT Serif', serif;;
}

nav {
	position: fixed;
	top: 0;
	height: 4.6vh;
	background-color: #21618C;
	width: 100%;
	line-height: 4.6vh;
	margin-left: 0;
	font-size: 2vh;
	opacity: 0.8;
	z-index: 999;
}

nav > a {
	display: inline-block;
	height: 100%;
	padding:0 2vw ;
	color: black;
	border-right: 2px solid white;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

nav > a:hover {
	background-color: #626567;
	color: white;
	opacity: 1;
	transition: all 0.4s ease-out;
}

article {
	position: relative;
}

div {
	/*background-color: #21618C;*/
	background-color: #21618C;
	opacity: 0.8;
	bottom: 0;
	height: 24vh;

}

section {
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 8vh;
	line-height: 30px;
}

h1 {
	font-size: 4vh;
	line-height: 6vh;
	margin: 1vh 0;
}

h2 {
	font-size: 3.6vh;
	line-height: 5.4vh;
	margin: 0.8vh 0;
}

h3 {
	font-size: 3vh;
	line-height: 4.5vh;
	margin: 0.5vh 0;
	padding: 0 2vh;
	font-family: sans-serif;
}

h4 {
	color: black;
	font-size: 3vh;
	padding: 0 2vh
}

p {
	padding: 0 2vh
}