@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppings&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;  
	width: 100%;
}

body {
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: #F6DDCC;
	color: #000a16;
	font-size: 2.4vh;
	line-height: 3.6vh;
	font-family: 'Lora', serif;
}

h1, h2, p {
	font-family: Lora, Noto Sans TC, sans-serif;
}

body > img#bg {
	position: fixed;
	z-index: -999;
	width: 100%;
	opacity: 0.2;
}

nav {
	position: fixed;
	top: 0;
	height: 4.6vh;
	background-color: #21618C;
	width: 100%;
	line-height: 4.6vh;
	margin-left: 0;
	font-size: 2vh;
	opacity: 0.8;
	z-index: 999;
	font-weight: bold;
}

nav > a {
	display: inline-block;
	height: 100%;
	padding:0 2vw ;
	color: black;
	border-right: 2px solid white;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

nav > a:hover {
	background-color: #626567;
	color: white;
	opacity: 1;
	transition: all 0.4s ease-out;
}

div {
	position: relative;
	background-color: #21618C;
	opacity: 0.8;
	bottom: 0;
	height: 24vh;
}

div > section > p {
	text-indent: 0;
}

img#top.top {
	max-width: 400px;
	height: auto;
}

img#bg {
	position: fixed;
	z-index: -999;
	width: 100%;
	opacity: 0.15;
}

article {
	position: relative;
	top: 4.6vh;
}

article > figure {
	position: relative;
	text-align: center;
	background-color: #EDBB99;
	width: 100%;
}

section > p {
	text-indent: 5%;
	margin: 0.5vh 0;
}

article > section {
	padding-bottom: 8vh;
	padding: 1.5vh 20vw;
	opacity: 0.8;
	overflow: auto;
}

article > section > figure {
	max-width: 30%;
	text-align: center;
}

article > section > figure > img {
	width: 100%;
	border-radius: 1vh;
}

article > section:nth-of-type(odd) > figure {
	float: left;
	margin: 1vh 2.5vw 0 0;
}

article > section:nth-of-type(even) > figure {
	float: right;
	margin: 1vh 0 0 2.5vw;
}

span {
		font-weight: bold;
}

@media only screen and (max-width: 1200px) {

	body > figure {
		width: auto;
		height: 100%;
	}

	article > section {
		padding: 1vh 5vw;
	}

	article > div {
		width: 100%;
	}

	article > section > figure {
		max-width: 100%;
		text-align: center;
	}

	article > section:nth-of-type(odd) > figure {
		max-height: 10%;
		float: initial;
		margin: 1vh 0;
	}

	article > section:nth-of-type(even) > figure {
		max-height: 10%;
		float: initial;
		margin: 1vh 0;
	}

	article > section > figure > img {
		width: 100%;
		border-radius: 1vh;
	}

	nav {
		height: 6vh;
		font-size: 2vh;
	}

	article {
		top: 6vh;
	}
}









